* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

main {
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  height: 100vh;
  padding-block-start: 3rem;
}

.cover {
  display: flex;
  justify-content: space-between;

  padding-inline: calc(.5rem + 1vw);
  padding-block: 1rem;
  width: calc(15rem + 30vw);
  border: 3px solid rgba(255, 255, 255, 0.11);
  border-radius: 5px;
  margin-inline: auto;

}

.score-container {
  border-radius: 5px;
  background-color: #fff;
  width: calc(2em * 4);
}

.score-text {
  color: hsl(229, 64%, 46%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(.5rem + .75vw);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
}

.score {
  color: hsl(229, 25%, 31%);
  font-size: calc(.75rem + 1.5vw);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
}

/* .text {
  color: #fff;
  font-size: calc(.75rem + 1vw);
  line-height: 1.2;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
} */

.rules-cover {
  position: absolute;
  bottom: 30px;
  right: 30px;
  border: 1px solid #fff;
  color: #fff;
  padding-block: .5rem;
  padding-inline: 1.25rem;
  border-radius: 5px;
  cursor: pointer;
}

.rules-cover:hover {
  background-color: #fff;
  color: hsl(229, 25%, 31%);
  transition: background-color .6s ease-in, color .6s ease-in;
}

.rules-cover p {
  font-size: 1rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 2rem;
}

.relative {
  position: relative;
  transform: scale(1.25);
  margin-block-start: 4rem;
}

.absolute {
  position: absolute;
}

.paper {
  top: -25px;
  left: -25px;
  background-color: #fff;
  max-width: 300px;
  width: 7rem;
  height: 40%;
  border: 10px solid hsl(230, 89%, 65%);
  border-radius: 50%;
  box-shadow: inset 0 4px 3px -1px rgba(128, 128, 128, 0.767), 1px 8px hsl(230, 89%, 62%);
}

.scissors {
  top: -25px;
  right: -25px;
  background-color: #fff;
  max-width: 300px;
  width: 7rem;
  height: 40%;
  border: 10px solid hsl(40, 84%, 53%);
  box-shadow: inset 0 4px 3px -1px rgba(128, 128, 128, 0.767), 1px 8px hsl(39, 89%, 49%);
  border-radius: 50%;
}

.rock {
  bottom: -5px;
  left: 33%;
  background-color: #fff;
  max-width: 300px;
  width: 7rem;
  height: 40%;
  border: 10px solid hsl(349, 71%, 56%);
  box-shadow: inset 0 4px 3px -1px rgba(128, 128, 128, 0.767), 1px 8px hsl(349, 71%, 52%);
  border-radius: 50%;
}

.scissors:hover,
.rock:hover,
.paper:hover {
  background-color: rgb(206, 201, 201);
  transition: background-color .3s ease-in;
  cursor: pointer;
}

.absolute img {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-block-start: 1rem;
}

.rules-modal {
  display: none;
  position: absolute;

  position: absolute;
  top: 25%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-white {
  background-color: #fff;
  padding-inline: calc(.5rem + 1.5vw);
  padding-block: 1rem;
  border-radius: 8px;
}

.modal-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2rem;
}

.rules-text {
  font-size: 1.5rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(229, 25%, 31%);
}

.close-container > img {
  cursor: pointer;
}